<!DOCTYPE html>
<html lang="en">
<head>
  <title>Fetch using MySQL and Node.js</title>
</head>
<body>
    <div class="table-data">
<h2>Display Data using Node.js & MySQL</h2>
    <table border="1">
        <tr>
            <th>SNO.</th>
            <th>student_id</th>
            <th>student Name</th>
            <th>course_name</th>
            <th>student phone</th>
            <th>student address</th>
            <th>department_id</th>
            <th>department_name</th>
        </tr>
        
        <%
        if(userData.length!=0){
        var i=1;
        userData.forEach(function(data){
        %>
        <tr>
            <td><%=i; %></td>
            <td><%=data.student_id%></td>
            <td><%=data.student_name %></td>
            <td><%=data.records %></td>
            <td><%=data.student_phone %></td>
            <td><%=data.student_address %></td>
            <td><%=data.department_id %></td>
            <td><%=data.department_name %></td>
            <!-- <td><a href="/course-details?name/<%= data.student_name%>">View student Course Details</a></td>  -->

        </tr>
        <%  i++; }) %>
        <% } else{ %>
            <tr>
                <td colspan="7">No Data Found</td>
            </tr>
        <% } %>
       
    </table>
    <!-- <button a href ="/course-details?id=data.student_id"> View Course Details</button> -->
    </div>
</body>
</html>